.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.forms h2 {
    margin-bottom: 1%;
    font-size: 2rem;
}

.forms section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #EFE4D2;
}

.forms form {
    background-color: #9EC6F3;
    height: 75%;
    width: 30%;
    border-radius: 1rem;
}

.forms form ul {
    list-style: none;
    padding: 5%;
}

.forms form ul li {
    width: 100%;
    margin: 3% 0%;
}

.forms li input {
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 0.5%;
}

.forms li label {
    font-size: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.buttons button {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: rgba(0, 162, 255);
    border-radius: 0.5rem;
    padding: 2%;
}

.buttons button:hover {
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem  black;
    transition: box-shadow 100ms ease-in-out;
}

/* .buttons button {
    width: 74%;
    margin-top: 10%;
    font-size: 1.2rem;
    color: white;
}

,button:hover {
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem  black;
    transition: box-shadow 100ms ease-in-out;
} */

.deleteConfirmation h2 {
    margin: 10% 10% 3% 10%;

}

.deleteConfirmation button {
    margin-left: 10%;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: rgba(0, 162, 255);
    border-radius: 0.5rem;
    padding: 0.5%;
    width: 10%;
}

.deleteConfirmation button:hover {
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem  black;
    transition: box-shadow 100ms ease-in-out;
}
